@media (min-width: 800px) {
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }

  .menu li {
    margin: 0 20px;
  }

  .menu a {
    text-decoration: none;
    color: rgb(222, 123, 136);
    font-family: Staatliches;
    display: inline-block;
    padding: 15px 50px;

    border: 2px solid rgb(222, 123, 136);
    background-color: rgba(255, 248, 232, 1);
  }

  .menu a:hover {
    background-color: #cf4265;
  }
}

.burger-icon {
  display: none;
  cursor: pointer;
  font-size: 60px;
  color: rgba(255, 248, 232, 1);
}

@media (max-width: 800px) {
  .burger-icon {
    display: block;
  }

  .menu ul {
    display: none;
    list-style: none;
  }

  .menu.active ul {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .menu {
    background-color: rgb(222, 123, 136);
    margin: 20px;
  }

  .menu a {
    text-decoration: none;
    color: rgb(222, 123, 136);
    font-family: Staatliches;
    display: flex;
    padding: 20px 100px;
    margin: 20px;
    border: 2px solid #fbedb4;
    background-color: rgba(255, 248, 232, 1);
  }

  .menu a:hover {
    background-color: #cf4265;
  }
}

footer {
  color: rgb(222, 123, 136);
  font-family: Staatliches;
}
