@media (min-width: 800px) {
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }

  .menu li {
    margin: 0 20px;
  }

  .menu a {
    text-decoration: none;
    color: rgb(222, 123, 136);
    display: inline-block;
    padding: 15px 50px;

    border: 2px solid rgb(0, 0, 0); /* Rød kant på toppen med en tykkelse på 2px */
    background-color: rgba(255, 248, 232, 1);
  }

  .menu a:hover {
    background-color: #740823;
  }
}

.burger-icon {
  display: none; /* Gem burgerikonet som standard */
  cursor: pointer;
  font-size: 60px; /* Juster størrelsen efter behov */
  color: rgba(255, 248, 232, 1);
}

@media (max-width: 800px) {
  .burger-icon {
    display: block; /* Vis burgerikonet under 800px skærmbredde */
  }

  .menu ul {
    display: none; /* Skjul menuen som standard på små skærme */
    list-style: none;
  }

  .menu.active ul {
    display: flex; /* Vis menuen, når .active klassen tilføjes */
    flex-direction: column;
    align-items: start;
  }
  .menu {
    background-color: rgb(222, 123, 136);
    margin: 20px;
  }

  .menu a {
    text-decoration: none;
    color: rgb(222, 123, 136);
    display: flex;
    padding: 20px 100px;
    margin: 20px;
    border: 2px solid rgb(0, 0, 0); /* Rød kant på toppen med en tykkelse på 2px */
    background-color: rgba(255, 248, 232, 1);
  }

  .menu a:hover {
    background-color: #740823;
  }
}

footer {
  background-color: rgba(255, 248, 232, 1);
}
