@media (min-width: 800px) {
  .grid_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .grid_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.logo {
  position: absolute;
  top: -5%;
  right: 20%;
}
.logo img {
  width: 200px;
  height: 200px;
  position: absolute;
}

body {
  background: linear-gradient(to bottom, rgba(220, 78, 98, 1), rgb(102, 8, 28));
}
main img {
  width: 700px;
  height: 600px;
}
.p2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.p3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.p4 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.p5 {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  font-family: Staatliches;
  font-size: 80px;
}
